BREVO_API_KEY=your_brevo_api_key_here
MAIL_FROM=infodesk@davidmaraga.com
MAIL_FROM_NAME="David Maraga Campaign"
SASASIGNAL_EMAIL=myemail@site.com
SASASIGNAL_PASSWORD=your_sasasignal_password_here
SASASIGNAL_SENDER_ID="Maraga 27"
SASASIGNAL_CALLBACK_URL=https://yoursite.com/callback/handler
